<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="scrum_menu"
              name="Scrum"
              parent="project.menu_main_pm"
              sequence="0"/>

    <record id="project.menu_projects_config" model="ir.ui.menu">
        <field name="parent_id" ref="scrum_menu"/>
    </record>

    <record id="project.menu_projects" model="ir.ui.menu">
        <field name="sequence" eval="1"/>
    </record>

    <record id="project.menu_projects_group_stage" model="ir.ui.menu">
        <field name="sequence" eval="3"/>
    </record>

</odoo>